// Gradients
$nav-gradient: linear-gradient(-90deg, #5c00fd 0%, #fd007e 100%);
$green-gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$orange-gradient: linear-gradient(90deg, #ffa404 0%, #ff0479 100%);
$blue-gradient: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
$dark-gradient: linear-gradient(
  rgba(22, 22, 22, 0.75) 0%,
  rgba(22, 22, 22, 0.5625) 100%
);
// Fonts
$logo-font: "Pacifico", cursive;
$primary-font: "Inter UI";
$secondary-font: "Montserrat";

// Shadows
$shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
$shadow-hovered: 5px 12px 20px rgba(36, 37, 38, 0.13);
$shadow-heavy: 0 6px 15px rgba(36, 37, 38, 0.5);

// Colors
$background-color: #f6f6f6;
$dark-grey: #c5c5c5;
$light-grey: #e7e7e7;

$main-gray: #3c3c3c;

/* HSL */
// New theme pallete
$primary: hsla(241%, 63%, 59%, 1);
$dark: hsla(224%, 14%, 22%, 1);
$light: hsla(240%, 100%, 99%, 1);
$secondary: hsla(235%, 18%, 36%, 1);
$secondary-light: hsla(236%, 11%, 71%, 1);

// Border Radius Presets
$border-round: 10px;
$border-rounder: 16px;

// SIZING
$nav-height: 60px;
$content-height: calc(100% - #{$nav-height});

/*
  SPECTRE CSS COLOR OVERRIDES
 */
$error-color: #cf4545;
$success-color: #32b643;
