// Gradients
$nav-gradient: linear-gradient(-90deg, #5c00fd 0%, #fd007e 100%);
$green-gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$blue-gradient: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);

// Fonts
$logo-font: "Pacifico", cursive;

// Shadows
$shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
$shadow-hovered: 5px 12px 20px rgba(36, 37, 38, 0.13);
$shadow-heavy: 0 6px 15px rgba(36, 37, 38, 0.5);

// Colors
$background-color: #f6f6f6;

// Border Radius Presets
// $rounded: 10px;
// $rounder: 16px;
